files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDDU8X8UL0yvgBdV1NE4peoDSJq66jGJaDiGjLeB+cqrNc7P9jomDDLWrGz9iHJNyZjGdRI0NwsATSnOfdoGb4nu3pKHRTU4lGca8gHyajXhrorJVOMug3MPZkk3lD5nhIB3jkpqeWkWaONdzd8to0NPvBq5cWtpU9Ck/lWqGqbvj3sBNLvMzjx2NhSaG2ekgVbp+ml2EVKDMcSawp6eZQi+zOwqMX9P8G7Rv6cSdpiHlLKMIJmrgPkfEncDEf/FVVR2NnQeNj77EZg578d0kqmAvUZYKCY0yFeXYowZhkJPkqal5NZ7IhcAFM3OFbQjux2r7ixDGa2ccXPm1+qGaTOJeZigvRZ4Uv3dxumQ8Ah/6ciiGGD+kkDc6uNAOrjBD4QArzC4qjWFzYUWgGVUPBZjJr/QLdREs4637SJ2kuiERGSH+mnlHfvMCgOGL24RrpR/Nh0rcvJVvalgr08K8bUQdLyKdGyH4hPpV4mFiqIj/Q6h2XAZmlUa6zQctSdZl/zaSBFcBGx7ZNINv4mi2WpVXSu4EiT1mtbfU54/0/6b7eSsvsS2J/ferugbayi1ddkAPgm66W6gMuPiq9QC0eBb7bY+cWMQtjxjch4VjdG9pcOpCczf6QcY5HlUnsVipD4IiufQNSemm88m9NbOM90+z1xeko/A0O7YLtvO1RDsQ== jon@letshuddleup.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCtZZgWDmJwjTTssSkTZeWJleOWbj8E0v9nxN0k03t88+ia1R2H/CgrHxgAACbjZZMu1zqdcXpCoj828+ABhizydHtAJ7s0BSeczQ9wrHsYupUkIedeHkeJg/ZUz9d/izh2oOtmuny6Lq2QsY31jj9D9aYDX74peGVBCtE3sihcv5w4AvAevMH+Pd4yWzxiPxBJo4S2BNzDowhJFHYksmQ4GbES/Ih4k+DLis7NRtlQeYTSGS5MhBNG6TYgcO+hOoAjRA18hM++8NrcD1qtheMng8BIiO/CFWi/VnMBz/JWk2ljxEpKaiEKzeagK1Qt1nvEvXvD5JhIyYM8zIclEKFHU0oB2anYYl9mtjs3QGDkPJFlZ6QGXI3tW0uya5dNHk4lPWvS0vxSKeeeZowokjmm5Ifc/Vn+29yb0+Sa9eLZ8o7usH8nSF6r9RFn8ZvnL5JMXBE906q3WN46Lgu0anjey6BBDgeT60+VwDfzRX3gKiHN89JShZspMspKnpY1ohckqSfCbu3kArEUOHxtDYqI0VLrLa9b3FZRhbsTFJFVp2C/qrn/fvwYQ93jYmhFnfz6Gnbnurws6elQ1yqLSPdNMEEnclYRQ0UshP9mYIJGnr9EnTPODAARgjIBv3LHxfoZOobQLhGiHyobbe5IM3KlQLFa5bh/Ir7LfmjGj1MurQ== rohen@letshuddleup.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC+PI+/eRExEG4wdhQQJdHMrYj1hr/F7HrHhlAO7Q0MNdMiiOnNExJF6IkfJRBI70r2Y98ZfznHJ7+hrCF4oDEmhVU5EyAgd86LdbkVx0GnN79CKHRM27Cttg3HfKr1lsX/ifoeW0c+iNhL1TU1PNLwzVfWiyO74kakp//t/Kz6FrN4D6VPQDNa8iBQjYSwcNig2WQGp8AeImWIinJGQAHhpZ/5I/GOIf9FEN0XiumxghOLiXWYoolKw4SaxA8cQFPNZ0vMyf2MfFGodqjXw7C0HVqg812SPC3dY5jkD2WcV9nwqoBpWZru5Asge7NsmkEWqg5lHF9Ki9sgi0D9uzQBzI349jDBnH68NunJtKDSl5qxPh6uQBQGJg/HxXRLR2EFYgxC0w/IxbmeydxVo0TOJldt8gtZHV7ngxGoFFlZVIOdmqtDc4RDfdgP9h2rtSDV8XYhVsHhEN+mktqjdgx+Z60u2ZQQbwsvNhQ/4AFFjjd5Ji1HHd1N5wGQ94WNhyZ4Xl8OAjHsIZVoCdyjIC8xcAch3cU7a4dgKiGiRFGdMyvHGxcjE2fuhmNG+guNaR0hMqeTrHw94Gh66TQMMcnWl6Pa28pCbVIIZeoNpvg+57otrxqAWoFmjUI/Fk0OZlJ0HYFbyB3NCJvxBtub8bQNGyfWMoikgmipHMNdkH/Hjw== thorben.andresen@gmail.com
